# Environment and secrets
.env
.env.*
!.env.example


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# Local data
/data/
